body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  line-height: 19px;
  list-style-type: none;
  padding: 14px;
  font: 14px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:black;
  background: #fff;
  border-radius: 5px;
}
